<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<!-- id는 마음대로 작성 prarameter는 실제DTO클래스 -->

	<select id="Test" resultType="UserDTO">
		select * from FREE_MYFREELANCER
	</select>
</mapper>